@import "../reset.css";
@import "../design-system-default.css";

body {
  font-size: var(--text-base-size);
  font-family: var(--font-primary), var(--font-secondary);
  background: url(../../img/pattern-detective.png) repeat;
}

main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Alignment */
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column
}

.inherit-center {
  display: inherit;
  align-items: center;
  justify-content: center;
}

.center {
  align-items: center;
}

.space-after{
  margin-bottom: 20px;
}

/* Form */
.logo {
  width: 250px;
  height: 175px;
}

.img-logo {
  width: 240px;
}

.form-background {
  background: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: var(--border-angle);
  width: 260px;
  height: 260px;
  padding-top: 25px;
}

.input-form {
  color: var(--gray);
  font-weight: var(--font-weight-semibold);
  font-size: 0.85em;
}

.input-form input, .submit-button {
  width: 210px;
  height: 35px;
  font-size: 0.95em;
  border-radius: var(--border-angle);
}

.input-form input {
  background-color: var(--light-gray);
  border: 1px solid var(--light-gray);
  box-shadow: inset 0px 4px 10px rgba(160, 160, 160, 0.15);
  box-sizing: border-box;
  color: var(--gray);
  font-weight: var(--font-weight-medium);
  margin-top: 8.5px;
  padding-left: 10px;
}

.input-form input:focus, .submit-button:focus {
  border: 2px solid var(--red);
  -webkit-box-shadow: 0px 0px 5px rgba(160, 160, 160, 0.75);
  -moz-box-shadow: 0px 0px 5px rgba(160, 160, 160, 0.75);
  box-shadow: 0px 0px 5px rgba(160, 160, 160, 0.75);
  outline: none;
}

.submit-button {
  background-color: var(--red);
  border: none;
  color: white;
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.05em;
}

.form-base {
  background: black;
  color: white;
  font-weight: var(--font-weight-medium);
  font-size: 0.75em;
  border-radius: 0px 0px var(--border-angle) var(--border-angle);
  width: inherit;
  height: 55px;
}

a {
  color: white;
}


