@import "../reset.css";
@import "../design-system-default.css";

body {
  font-size: var(--text-base-size);
  font-family: var(--font-primary), var(--font-secondary);
  background-color: var(--light-gray);
}

main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.radio-input-div {
  display: flex;
  width: 328px;
  justify-content: space-around;
}

.flex-column {
  display: flex;
  flex-direction: column
}

.inherit-center {
  display: inherit;
  align-items: center;
  justify-content: center;
}

.center {
  align-items: center;
}

.change-register-login{
  border-top: 2px solid black;
  padding: 25px 35px;
  width: 349px;
}

.input-style {
  margin: 5px 0 20px;
  height: 30px;
  width: 320px
}

.h-rule {
  width: 100%;
  background-color: black;
  align-self: center;
  margin-bottom: 10px;
}

.space-after{
  margin-bottom: 3vh;
}

.form-background {
  background: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  width: 38vw;
  height: 44vh;
}

.form-base {
  background: black;
  color: white;
  font-weight: var(--font-weight-medium);
  font-size: 0.85em;
  border-radius: 0px 0px 5px 5px;
  width: inherit;
  height: 8vh;
}

a {
  color: white;
}

.submit-button {
  background-color: var(--red);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: var(--font-weight-bold);
  font-size: 1em;
  width: 30vw;
  height: 5vh;
  letter-spacing: 0.05em;
}
