@import "../../scss/utils/mixins";
@import "../../scss/utils/placeholder";
@import "../../scss/utils/colors";
@import "../../scss/utils/typhography";

.input {
  &__sign {
    &--data {  
      @extend %column;
      @include input-and-label;
      @include mobile {
        font-size: 0.9em;
        }
      ::placeholder {
        color: $gray;
      }
      input {
        @include submit;
        background-color: $light-gray;
        border: 1px solid $light-gray;
        box-shadow: inset 0px 4px 10px rgba(160, 160, 160, 0.15);
        box-sizing: border-box;
        color: $gray;
        font-weight: $font-weight-medium;
        margin-top: 11px;
        margin-bottom: 25px;
        padding-left: 15px;
        @include mobile {
          font-size: 0.85em;
          margin-bottom: 20px;
            @include submit__responsive;
            margin-top: 9px;
            padding-left: 10px;
          }
        &:focus {
          @include focus;
        }
      }
    }
  }
  &__work {
    &--info {
      display: contents;
      ::before {
        content: '';
        display: inline-block;
        border-radius: 50%;
        width: 22px;
        height: 22px;
        margin-right: 8px;
        background: $light-gray;
        border: 1px solid $light-gray;
        box-shadow: inset 0px 4px 10px rgba(160, 160, 160, 0.15);
        box-sizing: content-box;
        @include mobile {
          width: 18px;
          height: 18px;
        }
      }
      :checked::before {
        background: radial-gradient(white 30%, $red 40%);
        box-shadow: inset 0px 4px 10px rgba(160, 160, 160, 0.15);
        @include mobile {
          background: radial-gradient(white 30%, $red 40%);
        }
      }
      input[type='radio'] {
        cursor: pointer;
      }
    }
  }
  &__burguer {
    &--item {
      display: contents;
      color: black;
      input[type='radio'], input[type='checkbox'] {
        cursor: pointer;
      }
      &.burguer--text {
        &--bovino {
          ::before {
            @include burguer('Bovino');
          }
          :checked::before {
            @include checked;
          }
        }
        &--frango {
          ::before {
            @include burguer('Frango');
          }
          :checked::before {
            @include checked;
          }
        }
        &--vegano {
          ::before {
            @include burguer('Vegano');
          }
          :checked::before {
            @include checked;
          }
        }
      }
      &.extra--text {
        &--ovo {
          ::before {
            @include burguer('Ovo');
          }
          :checked::before {
            @include checked;
          }
        }
        &--queijo {
          ::before {
            @include burguer('Queijo');
          }
          :checked::before {
            @include checked;
          }
        }
      }
    }
  }
  &__order {
    &--name { 
      input{
        width: 130px;
      }
    }
    &--table { 
      input {
        width: 30px;
      }
    }
    &--name, &--table {
      display: contents;
      font-size: 1.1em;
      font-weight: $font-weight-semibold;
      color: black;
      input {
        height: 30px;
        background: rgba(160, 160, 160, 0.2);
        box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.15);
        border-radius: $border-angle;
        border: none;
        padding-left: 10px;
        color:black;
        text-transform: uppercase;
        font-size: 0.9em;
        &:focus {
          @include focus;
        }
        &::placeholder {
          margin-left: 10px;
          color: black;
          text-transform: uppercase;
        }
      }
    }
  }
}

