.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 97vh;
    align-items: center;
}

.radio-input-div {
    display: flex;
    width: 328px;
    justify-content: space-around;
}

.flex-column {
    display: flex;
    flex-direction: column
}

.text-center {
    text-align: center;
}

.center {
    align-items: center;
}

.input-style {
    margin: 5px 0 20px;
    height: 30px;
    width: 320px
}

.h-rule {
    width: 327px;
    background-color: black;
    align-self: center;
    margin-bottom: 10px;
}

.button {
    height: 30px;
    width: 100px;
}