@import "../reset.css";
@import "../design-system-default.css";

body {
  font-size: var(--text-base-size);
  font-family: var(--font-primary), var(--font-secondary);
}

main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Alignment */
.reg-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reg-column {
  display: flex;
  flex-direction: column;
}

.reg-row {
  display: flex;
  flex-direction: row;
}

.reg-inherit-align {
  display: inherit;
  align-items: center;
  justify-content: center;
}

.reg-center {
  align-items: center;
}

.reg-space-after {
  margin-bottom: 30px;
}

/* Form */
.reg-background {
  background: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: var(--border-angle);
  width: 400px;
  height: 700px;
  padding-top: 35px;
}

.reg-input, .work-label {
  color: var(--gray);
  font-weight: var(--font-weight-semibold);
  font-size: 1.1em;
}

.reg-input input, .send-button {
  width: 340px;
  height: 52px;
  font-size: 1.1em;
  border-radius: var(--border-angle);
}

.reg-input input {
  background-color: var(--light-gray);
  border: 1px solid var(--light-gray);
  box-shadow: inset 0px 4px 10px rgba(160, 160, 160, 0.15);
  box-sizing: border-box;
  color: var(--gray);
  font-weight: var(--font-weight-medium);
  margin-top: 11px;
  padding-left: 15px;
}

.reg-input input:focus, .send-button:focus {
  border: 2px solid var(--red);
  -webkit-box-shadow: 0px 0px 5px rgba(160, 160, 160, 0.75);
  -moz-box-shadow: 0px 0px 5px rgba(160, 160, 160, 0.75);
  box-shadow: 0px 0px 5px rgba(160, 160, 160, 0.75);
  outline: none;
}

input[type="radio"] {
  /* remove standard background appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom radiobutton appearance */
  display: inline-block;
  width: 15px;
  height: 15px;
  padding: 3px;
  /* background-color only for content */
  background-clip: content-box;
  border: 1px solid green;
  background-color:red;
  border-radius: 50%;
}

.work-label {
  width: 340px;
  height: 83px;
}

.radio-input-div {
  margin-top: 11px;
  width: 340px;
  height: 52px;
  border-top: 2px solid var(--light-gray);
  border-bottom: 2px solid var(--light-gray);
  justify-content: space-evenly;
}

.radio-input-div input{
  margin-right: 10px;
  background-color: var(--light-gray);
  border: 1px solid var(--light-gray);
  box-shadow: inset 0px 4px 10px rgba(160, 160, 160, 0.15);
}

.radio-input-div input:checked{
  background-color: var(--red);
  outline: none;
}

.send-button {
  background-color: var(--red);
  border: none;
  color: white;
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.05em;
}

.reg-base-p {
  background: black;
  color: white;
  font-weight: var(--font-weight-medium);
  font-size: 1em;
  border-radius: 0px 0px var(--border-angle) var(--border-angle);
  width: inherit;
  height: 80px;
}

a {
  color: white;
}

/* Mobile */
@media (min-width: 320px) and (max-width: 767px) {
  .reg-space-after{
    margin-bottom: 24px;
  }
  
  .reg-background {
    width: 280px;
    height: 570px;
    padding-top: 26px;
  }
  
  .reg-input, .work-label {
    font-size: 0.85em;
  }
  
  .reg-input input, .send-button {
    width: 230px;
    height: 42px;
    font-size: 1em;
  }

  .reg-input input {
    margin-top: 11px;
    padding-left: 15px;
    margin-top: 9px;
    padding-left: 10px;
  }
  
  .work-label {
    width: 230px;
    height: 70px;
  }

  .radio-input-div {
    width: 230px;
    height: 42px;
  }

  .reg-base-p {
    font-size: 0.75em;
    height: 70px;
  }
}