@import "../../scss/utils/mixins";
@import "../../scss/utils/placeholder";
@import "../../scss/utils/colors";
@import "../../scss/utils/typhography";

body {
  font-size: $text-base-size;
  font-family: $font-primary, $font-secondary;
  background: url(../../img/pattern-detective.png) repeat;
}

main {
  @extend %flex;
  height: 100vh;
  width: 100%;
}

.box {
  &__log {
    @extend %flex;
    @include background(320px, 380px);
    @include mobile {
      @include background__responsive(270px, 280px);
    }
  }
  &__reg {
    @extend %flex;
    @include background(610px, 380px);
    @include mobile {
      @include background__responsive(515px, 280px);
    }
  }
}

.form__align {
  @extend %column;
  @extend %center;
}