@import "../../scss/utils/placeholder";
@import "../../scss/utils/mixins";
@import "../../scss/utils/colors";
@import "../../scss/utils/typhography";

* {
  font-size: $text-base-size;
  font-family: $font-primary, $font-secondary;
}

body {
  background: url(../../img/pattern-detective.png) repeat;
}

.menu-row-reverse {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.frame {
  @extend %row;
  @include background(768px, 1024px);
  padding:0;
  @include vertical {
    flex-direction: column;
    @include background(1024px, 768px);
    padding: 0;
  }
  @include mobile {
    @include background(1024px, 768px)
  }
}

.sidebar {
  background: black;
  z-index: 1;
  width: 240px;
  height: 768px;
  border-radius: $border-angle 0px 0px $border-angle;
  position: fixed;
  @include vertical {
    display: flex;
    width: 768px;
    height: 180px;
    border-radius: $border-angle $border-angle 0px 0px;
  }
}

.saloon {
  @extend %row;
  margin-left: 240px;
  width: 100%;
  @include vertical {
    margin-left: 0;
    margin-top: 180px;
    height: calc(82vh - 72px);
  }
}

.menu {
  width: 410px;
  @extend %column;
  @extend %center;
  @include vertical {
    width: 400px;
  }
  &__center {
    width: 360px;
    margin-top: 32px;
    @include vertical {
      width: 355px;
    }
  }
}

.order {
  @extend %flex;
  width: 374px;
  height: 768px;
  box-shadow: -4px 0px 7px rgba(0, 0, 0, 0.15);
  background-image: url(https://firebasestorage.googleapis.com/v0/b/burger-queen-labss.appspot.com/o/icons%2Fruido.png?alt=media&token=2f216a63-4a06-442b-8866-9981b2a9f3d7);
  @include vertical {
    width: 368px;
  }
  &__form {
    width: 315px;
    height: 698px;
    border-radius: 0px 0px $border-angle 0px;
  }
  &__number,
  &__info {
    @extend %row;
    width: inherit;
    height: 80px;
    justify-content: space-between;
  }
  &__number {
    align-items: flex-end;
    padding-bottom: 20px;
    border-bottom: 2.5px solid $gray;
    h1 {
      font-size: 2.5em;
    }
    h3 {
      font-size: 1.5em;
      font-weight: $font-weight-semibold;
      text-align: right;
    }
  }
  &__info {
    @extend %center;
  }
  &__items {
    @extend %column;
    display: flex;
    align-items: center;
    height: 370px;
    overflow: auto;
    background: rgba(160, 160, 160, 0.2);
    box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px $border-angle $border-angle;
  }
  &__total {
    @extend %row;
    @extend %center;
    width: inherit;
    height: 55px;
    justify-content: space-between;
    border-bottom: 2.5px solid $gray;
    font-weight: $font-weight-semibold;
    font-size: 1.2em;
    h2 {
      text-transform: uppercase;
    }
    h3 {
      text-align: right;
    }
  }
  &__buttons {
    @extend %row;
    width: inherit;
    height: 63px;
    align-items: flex-end;
    justify-content: space-between;
  }
  &__cards {
    @extend %column;
    width: 100%;
    height: 768px;
    @include vertical {
      height: calc(1024px - 70px - 190px);
    }
    &-kitchen {
      margin-left: 240px;
      @include vertical {
        margin-left: 0;
        margin-top: 180px;
        height: calc(1024px - 70px - 190px);
      }
    }
  }
  &__top {
    @extend %center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 30px 0px 25px;
    height: 70px;
    background: #a0a0a0;
    box-shadow: inset 0px 3px 7.5px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 784px;
    border-radius: 0px $border-angle 0px 0px;
    @include vertical {
      width: 768px;
      border-radius: 0px;
      padding: 0px 25px;
    }
    h1 {
      color: white;
      font-size: 1.2em;
    }
  }
}

.logged {
  @extend %row;
  @extend %center;
  justify-content: space-between;
  background-color: black;
  width: 318px;
  height: 70px;
  padding: 0 28px;
  border-radius: 0px $border-angle 0px 0px;
  @include vertical {
    width: 312px;
    border-radius: 0px;
  }
  h1 {
    color: white;
    font-size: 1.2em;
  }
}

.copyright {
  &__land {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 60%;
    text-align: center;
    color: white;
    height: 45%;
    font-size: 0.8em;
    padding: 10% 20%;
    line-height: 1.2em;
    text-align: center;
    color: white;
    @include vertical {
      display: none;
    }
  }
  &__saloon {
    margin: 0;
    width: 200px;
    justify-content: center;
  }
  &__portrait {
    display: none;
    @include vertical {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      color: white;
      font-size: 0.8em;
      width: 768px;
      height: 80px;
      background-color: black;
      border-radius: 0px 0px $border-angle $border-angle;
    }
  }
}
