@import '../../scss/utils/mixins';
@import '../../scss/utils/colors';
@import '../../scss/utils/typhography';


.button {
  &__submit {
    @include submit;
    background-color: $red;
    border: none;
    color: white;
    font-weight: $font-weight-bold;
    letter-spacing: 0.05em;
    transition: 1000ms; 
    text-transform: uppercase;
    margin-bottom: 25px;
    @include mobile {
      @include submit__responsive;
      margin-bottom: 20px;
    }
    &:focus {
      border: 2px solid $red;
      -webkit-box-shadow: 0px 0px 5px rgba(160, 160, 160, 0.75);
      -moz-box-shadow: 0px 0px 5px rgba(160, 160, 160, 0.75);
      box-shadow: 0px 0px 5px rgba(160, 160, 160, 0.75);
      outline: none;
    }
    &:hover {
      transform: scale(1.03);
    }
  }
  &__sidebar {
    @include button (200px, 70px, black, white, left);
    border-radius: $border-angle 0px 0px $border-angle;
    &.active {
      @include button (200px, 70px, white, black, left);
    }
    &:focus {
      outline: none;
    }
  }
  &__menu {
    @include button (205px, 55px, white, black, center);
    border-radius: $border-big $border-big 0px 0px;
    text-transform: uppercase;
    &.active {
      @include button (205px, 55px, $gray, white, center);
    }
    &:focus {
      outline: none;
    }
  }
  &__burguer {
    background-color: #D70000;
    position: absolute;
    bottom: 15px;
    right: 20px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    outline: none;
    box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.2);
    background-image: url(https://firebasestorage.googleapis.com/v0/b/burger-queen-labss.appspot.com/o/icons%2Fseta.svg?alt=media&token=b2729cd2-3f86-436c-a181-b57c5df98607);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
  } 
  &__accept {
    width: 151px;
    height: 46px;
    font-size: 1.19em;
    text-transform: uppercase;
    color: white;
    font-weight: $font-weight-semibold;
    border-radius: 6px;
    background-color: $red;
  }
}

.icon {
  &-menu {
    &::before {
      @include icon;
      content: url('https://firebasestorage.googleapis.com/v0/b/burger-queen-labss.appspot.com/o/icons%2Fwhite%20burguer.svg?alt=media&token=fc767755-b77d-4e9c-a93e-22dce0bc681a');
      }
    &.active {
      &::before {
        content: url('https://firebasestorage.googleapis.com/v0/b/burger-queen-labss.appspot.com/o/icons%2Fburguer.svg?alt=media&token=9576a62c-6121-4732-82ea-1970ffc7ccfd');
      }
    }
  }
  &-order {
    &::before {
      @include icon;
      content: url('https://firebasestorage.googleapis.com/v0/b/burger-queen-labss.appspot.com/o/icons%2Fpedido%20branco.svg?alt=media&token=d30842d6-08f5-4563-9d7b-7a38a328cff1');
    }
    &.active {
      &::before {
        content: url('https://firebasestorage.googleapis.com/v0/b/burger-queen-labss.appspot.com/o/icons%2Fpedido%20preto.svg?alt=media&token=125e5134-1114-413e-8431-3be8dd8818c5');
      }
    }
  }
}