@import "../../scss/utils/mixins";
@import "../../scss/utils/colors";
@import "../../scss/utils/typhography";

.button {
  &__submit {
    @include send(320px, 45px, 1em);
    background-color: $red;
    border: none;
    color: white;
    font-weight: $font-weight-bold;
    letter-spacing: 0.05em;
    transition: 1000ms;
    text-transform: uppercase;
    margin-bottom: 25px;
    @include mobile {
      @include send(230px, 37px, 0.9em);
      margin-bottom: 20px;
    }
    &:focus {
      border: 2px solid $red;
      -webkit-box-shadow: 0px 0px 5px rgba(160, 160, 160, 0.75);
      -moz-box-shadow: 0px 0px 5px rgba(160, 160, 160, 0.75);
      box-shadow: 0px 0px 5px rgba(160, 160, 160, 0.75);
      outline: none;
    }
    &:hover {
      transform: scale(1.03);
    }
  }
  &__sidebar {
    @include button(200px, 70px, black, white, left);
    border-radius: $border-angle 0px 0px $border-angle;
    &.active {
      @include button(200px, 70px, white, black, left);
    }
    &:focus {
      outline: none;
    }
  }
  &__menu {
    @include button(205px, 55px, white, black, center);
    border-radius: $border-big $border-big 0px 0px;
    text-transform: uppercase;
    &.active {
      @include button(205px, 55px, $gray, white, center);
    }
    &:focus {
      outline: none;
    }
  }
  &__burguer {
    background-color: #d70000;
    position: absolute;
    bottom: 15px;
    right: 20px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    outline: none;
    box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.2);
    background-image: url(https://firebasestorage.googleapis.com/v0/b/burger-queen-labss.appspot.com/o/icons%2Fseta.svg?alt=media&token=b2729cd2-3f86-436c-a181-b57c5df98607);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
  }
  &__accept {
    width: 151px;
    height: 46px;
    font-size: 1.19em;
    text-transform: uppercase;
    color: white;
    font-weight: $font-weight-semibold;
    border-radius: 6px;
    background-color: $red;
  &__logout {
    display: flex;
    align-items: center;
    background-color: black;
    border: none;
    outline: none;
    color: white;
    text-transform: uppercase;
    font-weight: $font-weight-extrabold;
    font-size: 0.8em;
    padding: 0;
  }
  &__order {
    &--cancel {
      @include send(135px, 45px, 1em);
      background-color: $gray;
    }
    &--confirm {
      @include send(115px, 45px, 1em);
    }
  }
}

.icon {
  &-menu {
    &::before {
      @include icon;
      content: url("../../img/white\ burguer.svg");
    }
    &.active {
      &::before {
        content: url("../../img/burguer.svg");
      }
    }
  }
  &-order {
    &::before {
      @include icon;
      content: url("../../img/pedido\ branco.svg");
    }
    &.active {
      &::before {
        content: url("../../img/pedido\ preto.svg");
      }
    }
  }
  &-door {
    &::after {
      margin-left: 8px;
      vertical-align: sub;
      content: url('https://firebasestorage.googleapis.com/v0/b/burger-queen-labss.appspot.com/o/icons%2Fdoor.svg?alt=media&token=fbb20d72-cd1e-4d3b-aaf5-3e7720338cba');
    }
  }
}
}