@import "../../scss/utils/mixins";
@import "../../scss/utils/colors";
@import "../../scss/utils/_typhography";

.button {
  &__submit {
    @include send(320px, 45px, 1em);
    background-color: $red;
    border: none;
    color: white;
    font-weight: $font-weight-bold;
    letter-spacing: 0.05em;
    transition: 1000ms;
    text-transform: uppercase;
    margin-bottom: 25px;
    @include mobile {
      @include send(230px, 37px, 0.9em);
      margin-bottom: 20px;
    }
    &:focus {
      border: 2px solid $red;
      -webkit-box-shadow: 0px 0px 5px rgba(160, 160, 160, 0.75);
      -moz-box-shadow: 0px 0px 5px rgba(160, 160, 160, 0.75);
      box-shadow: 0px 0px 5px rgba(160, 160, 160, 0.75);
      outline: none;
    }
    &:hover {
      transform: scale(1.03);
    }
  }
  &__sidebar {
    @include button(200px, 70px, black, white, left);
    border-radius: $border-angle 0px 0px $border-angle;
      @include vertical {
        @include button(165px, 70px, black, white, left);
        border-radius: $border-angle;
      }
    &.active {
      @include button(200px, 70px, white, black, left);
        @include vertical {
          @include button(165px, 70px, white, black, left);
          border-radius: $border-angle;
        }
    }
    &:focus {
      outline: none;
    }
    &.space {
      padding-left: 30px;
      @include vertical {
        padding-left: 0;
        text-align: center;
      }
    }
  }
  &__menu {
    @include button(205px, 55px, white, black, center);
    border-radius: $border-big $border-big 0px 0px;
    text-transform: uppercase;
    @include vertical {
      @include button(200px, 55px, white, black, center);
    }
    &.active {
      @include button(205px, 55px, $gray, white, center);
      @include vertical {
        @include button(200px, 55px, $gray, white, center);
      }
    }
    &:focus {
      outline: none;
    }
  }
  &__burguer {
    background-color: $red;
    position: absolute;
    bottom: 15px;
    right: 20px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    outline: none;
    box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.2);
    background-image: url(https://firebasestorage.googleapis.com/v0/b/burger-queen-labss.appspot.com/o/icons%2Fseta.svg?alt=media&token=b2729cd2-3f86-436c-a181-b57c5df98607);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
  }
  &__accept {
    @include send(150px, 45px, 1em);
  }
  &__logout {
    display: flex;
    font-family: $font-primary;
    align-items: center;
    background-color: black;
    border: none;
    outline: none;
    color: white;
    text-transform: uppercase;
    font-weight: $font-weight-extrabold;
    font-size: 0.8em;
    padding: 0;
    &--gray {
      display: flex;
      background-color: $gray;
      text-transform: uppercase;
      font-weight: $font-weight-semibold;
      border: none;
      font-size: 0.8em;
      color: white;
      align-items: center;
    }
  }
  &__order {
    &--cancel {
      @include send(135px, 45px, 1em);
      background-color: $gray;
    }
    &--confirm {
      @include send(115px, 45px, 1em);
    }
  }
  &__status {
    border-radius: $border-big $border-big 0px 0px;
    @include button(205px, 55px, white, black, center);
    text-transform: uppercase;
    &--red {
      @include button(205px, 55px, $red, white, center);
      border-radius: $border-big $border-big 0px 0px;
      text-transform: uppercase;
    }
    &--black {
      @include button(205px, 55px,black, white, center);
      border-radius: $border-big $border-big 0px 0px;
      text-transform: uppercase;
    }
  }
}

.icon {
  &-menu {
    &::before {
      @include icon;
      content: url("../../img/white\ burguer.svg");
      @include vertical {
        margin: 0 12px;
      }
    }
    &.active {
      &::before {
        content: url("https://firebasestorage.googleapis.com/v0/b/burger-queen-labss.appspot.com/o/icons%2Fburguer.svg?alt=media&token=9576a62c-6121-4732-82ea-1970ffc7ccfd");
        @include vertical {
          margin: 0 12px;
        }
      }
    }
  }
  &-order {
    &::before {
      @include icon;
      content: url("https://firebasestorage.googleapis.com/v0/b/burger-queen-labss.appspot.com/o/icons%2Fpedido%20branco.svg?alt=media&token=d30842d6-08f5-4563-9d7b-7a38a328cff1");
      @include vertical {
        margin: 0 12px;
      }
    }
    &.active {
      &::before {
        content: url("https://firebasestorage.googleapis.com/v0/b/burger-queen-labss.appspot.com/o/icons%2Fpedido%20preto.svg?alt=media&token=125e5134-1114-413e-8431-3be8dd8818c5");
        @include vertical {
          margin: 0 12px;
        }
      }
    }
  }
  &-door {
    &::after {
      margin-left: 8px;
      vertical-align: sub;
      content: url("https://firebasestorage.googleapis.com/v0/b/burger-queen-labss.appspot.com/o/icons%2Fdoor.svg?alt=media&token=fbb20d72-cd1e-4d3b-aaf5-3e7720338cba");
    }
  }
}
