@mixin background($height) {
  background: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: $border-angle;
  width: 400px;
  height: $height;
  padding-top: 35px;
}

@mixin input-and-label {
  color: $gray;
  font-weight: $font-weight-semibold;
  font-size: 1.1em;
}

@mixin submit-button {
  width: 340px;
  height: 52px;
  font-size: 1.1em;
  border-radius: $border-angle;
}

@mixin submit-button-responsive {
  width: 230px;
  height: 42px;
  font-size: 1em;
}

@mixin responsive-background($height) {
  width: 280px;
  height: $height;
  padding-top: 26px;
}
