@mixin background($height, $width) {
  background: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: $border-angle;
  width: $width;
  height: $height;
}

@mixin input-and-label {
  color: $gray;
  font-weight: $font-weight-semibold;
  font-size: 0.95em;
}

@mixin submit {
  width: 320px;
  height: 45px;
  font-size: 1em;
  border-radius: $border-angle;
}

@mixin submit-responsive {
  width: 230px;
  height: 37px;
  font-size: 0.9em;
}

@mixin responsive-background($height, $width) {
  width: $width;
  height: $height;
}

@mixin mobile {
  @media (min-width: 320px) and (max-width: 767px) {
    @content;
  }
}

@mixin button ($width, $height, $bg-color, $color, $align) {
  border: none;
  background-color: $bg-color;
  color: $color;
  font-size: 1.2em;
  font-weight: $font-weight-semibold;
  text-align: $align;
  width: $width;
  height: $height;
}

@mixin icon {
  margin: 0px 12.5px 0px 30px;
  vertical-align: sub;
}