@import "../../scss/utils/mixins";
@import "../../scss/utils/colors";
@import "../../scss/utils/typhography";

.cardboard {
  background-color: #fefefe;
  &-flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin: 30px 25px;
    height: 600px;
  }
}
