@import "../../scss/utils/mixins";
@import "../../scss/utils/colors";
@import "../../scss/utils/typhography";

.cardboard {
  background-color: #fefefe;
  &-flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-end;
  }
}
