@import '../../scss/utils/mixins';
@import '../../scss/utils/colors';
@import '../../scss/utils/typhography';

.options {
  background: black;
  border-radius: $border-angle;
  width: 210px;
  height: 115px;
  padding: 15px;
  position: absolute;
  left: 60px;
}

.label-burguer {
  @include input-and-label;
  color: white;
}