@import '../../scss/utils/mixins';
@import "../../scss/utils/placeholder";
@import '../../scss/utils/colors';
@import '../../scss/utils/typhography';

.workplace {
  @include input-and-label;
  @include mobile {
    font-size: 0.9em;
    }
  margin-bottom: 25px;
  @include mobile {
    margin-bottom: 20px;
    }
}

.selection {
  @extend %center;
  @extend %row;
  justify-content: center;
  width: 320px;
  height: 45px;
  border-top: 2px solid $light-gray;
  border-bottom: 2px solid $light-gray;
  margin-top: 11px;
  @include mobile {
    width: 230px;
    height: 40px;
  }
  p {
    margin: 0 20px;
    @include mobile {
      margin: 0 15px;
    }
  }
}