@import '../../scss/utils/mixins';
@import '../../scss/utils/colors';
@import '../../scss/utils/typhography';


.form__base {
  &--div{
    display: flex;
    width: 100%;
  }
  &--align {
    display: inherit;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
    font-weight: $font-weight-medium;
    font-size: 0.9em;
    border-radius: 0px 0px $border-angle $border-angle;
    width: inherit;
    height: 60px;
    text-align: center;
    @include mobile {
      font-size: 0.75em;
      height: 55px;
      }
    a {
      color: white;
    }
  }
}