@import "../../scss/utils/mixins";
@import "../../scss/utils/placeholder";
@import "../../scss/utils/colors";
@import "../../scss/utils/typhography";

.logo {
  &__login {
    @extend %flex;
    width: 380px;
    height: 230px;
    @include mobile {
      width: 280px;
      height: 180px;
    }
    &--img {
      width: 340px;
      @include mobile {
        width: 255px;
      }
    }
  }
  &__sidebar {
    @extend %flex;
    width: 240px;
    height: 240px;
    &--img {
      width: 195px;
    }
  }
}