/* sizes */
/* weights */
/* radius */
body {
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  background: url(../img/pattern-detective.png) repeat; }

main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.submit-button {
  width: 320px;
  height: 45px;
  font-size: 1em;
  border-radius: 5px;
  background-color: #D70000;
  border: none;
  color: white;
  font-weight: 700;
  letter-spacing: 0.05em; }
  @media (min-width: 320px) and (max-width: 767px) {
    .submit-button {
      width: 230px;
      height: 37px;
      font-size: 0.9em; } }
  .submit-button:focus {
    border: 2px solid #D70000;
    -webkit-box-shadow: 0px 0px 5px rgba(160, 160, 160, 0.75);
    -moz-box-shadow: 0px 0px 5px rgba(160, 160, 160, 0.75);
    box-shadow: 0px 0px 5px rgba(160, 160, 160, 0.75);
    outline: none; }

.grow {
  transition: .2s; }
  .grow:hover {
    transform: scale(1.03); }

.log-background {
  background: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  width: 380px;
  height: 320px;
  padding-top: 28px; }
  @media (min-width: 320px) and (max-width: 767px) {
    .log-background {
      width: 280px;
      height: 270px;
      padding-top: 26px; } }

.log-img-logo {
  width: 340px; }
  @media (min-width: 320px) and (max-width: 767px) {
    .log-img-logo {
      width: 255px; } }

.log-logo {
  width: 400px;
  height: 230px;
  width: 280px;
  height: 180px; }

.log-base-div {
  display: flex;
  width: 100%; }

.reg-background {
  background: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  width: 380px;
  height: 610px;
  padding-top: 28px; }
  @media (min-width: 320px) and (max-width: 767px) {
    .reg-background {
      width: 280px;
      height: 515px;
      padding-top: 26px; } }

.reg-row {
  display: flex;
  flex-direction: row; }

.reg-work-label {
  color: #A0A0A0;
  font-weight: 600;
  font-size: 0.95em;
  width: 320px;
  height: 73px; }
  @media (min-width: 320px) and (max-width: 767px) {
    .reg-work-label {
      font-size: 0.85em;
      width: 230px;
      height: 70px; } }

.reg-radio-input-div {
  margin-top: 11px;
  width: 320px;
  height: 45px;
  border-top: 2px solid var(--light-gray);
  border-bottom: 2px solid var(--light-gray);
  justify-content: space-evenly; }
  @media (min-width: 320px) and (max-width: 767px) {
    .reg-radio-input-div {
      width: 230px;
      height: 37px; } }
  .reg-radio-input-div input {
    margin-right: 10px;
    background-color: var(--light-gray);
    border: 1px solid var(--light-gray);
    box-shadow: inset 0px 4px 10px rgba(160, 160, 160, 0.15); }
    .reg-radio-input-div input:checked {
      background-color: var(--red);
      outline: none; }

.log-reg-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.log-reg-column {
  display: flex;
  flex-direction: column; }

.log-reg-inherit-align {
  display: inherit;
  align-items: center;
  justify-content: center; }

.log-reg-center {
  align-items: center; }

.log-reg-space-after {
  margin-bottom: 25px; }
  @media (min-width: 320px) and (max-width: 767px) {
    .log-reg-space-after {
      margin-bottom: 20px; } }

.log-reg-input {
  color: #A0A0A0;
  font-weight: 600;
  font-size: 0.95em; }
  .log-reg-input input {
    width: 320px;
    height: 45px;
    font-size: 1em;
    border-radius: 5px;
    background-color: rgba(160, 160, 160, 0.2);
    border: 1px solid rgba(160, 160, 160, 0.2);
    box-shadow: inset 0px 4px 10px rgba(160, 160, 160, 0.15);
    box-sizing: border-box;
    color: #A0A0A0;
    font-weight: 500;
    margin-top: 11px;
    padding-left: 15px; }
    @media (min-width: 320px) and (max-width: 767px) {
      .log-reg-input input {
        font-size: 0.85em;
        width: 230px;
        height: 37px;
        font-size: 0.9em;
        margin-top: 11px;
        padding-left: 15px;
        margin-top: 9px;
        padding-left: 10px; } }
  .log-reg-input:focus {
    border: 2px solid #D70000;
    -webkit-box-shadow: 0px 0px 5px rgba(160, 160, 160, 0.75);
    -moz-box-shadow: 0px 0px 5px rgba(160, 160, 160, 0.75);
    box-shadow: 0px 0px 5px rgba(160, 160, 160, 0.75);
    outline: none; }

.log-reg-base-p {
  background: black;
  color: white;
  font-weight: 500;
  font-size: 0.9em;
  border-radius: 0px 0px 5px 5px;
  width: inherit;
  height: 60px;
  text-align: center; }
  @media (min-width: 320px) and (max-width: 767px) {
    .log-reg-base-p {
      font-size: 0.75em;
      height: 55px; } }
  .log-reg-base-p a {
    color: white; }

.menu-row-reverse {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around; }
