@import "../../scss/utils/mixins";
@import "../../scss/utils/placeholder";
@import "../../scss/utils/colors";
@import "../../scss/utils/typhography";

.nav {
  &-sidebar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}