@import "../../scss/utils/mixins";
@import "../../scss/utils/placeholder";
@import "../../scss/utils/colors";
@import "../../scss/utils/typhography";

.nav {
  &__sidebar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &--ul{
      @include vertical {
        display: flex;
        flex-direction: row;
        margin-left: 15px;
      }
    }
  }
  &__menu {
    background: $gray;
    box-shadow: inset 0px 3.00008px 7.50021px rgba(0, 0, 0, 0.15);
    height: 70px;
    display: flex;
    align-items: flex-end;
    &--ul {
      @extend %row;
    }
  }
  &__status {
    height: 70px;
    display: flex;
    align-items: flex-end;
    &--ul {
      @extend %row;
    }
  }
}